[Unit]
Description=Beritahukan kegagalan %i

[Service]
Type=oneshot
User=hk
Group=hk
EnvironmentFile=-/etc/hendrokuswantoro/env
ExecStart=/srv/hendrokuswantoro/app/infrastructure/beritahu.sh %i

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
CapabilityBoundingSet=
